# Example Environment Variables
VITE_API_BASE_URL=http://localhost:8000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=ddpc18vbq
CLOUDINARY_API_KEY=597646537322687
CLOUDINARY_API_SECRET=ALq8tJjikO9U7zFW728fnX-OZqk